[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/FidelityFX-FSR2-OpenGL"]
	path = lib/FidelityFX-FSR2-OpenGL
	url = https://github.com/JuanDiegoMontoya/FidelityFX-FSR2-OpenGL
